<<<<<<< HEAD
@import "./layout/header";
@import "./base/typography";
@import "../sass/base/reset";
@import "../sass/utils/variables";
@import "../sass/pages/home";


=======
@import"./base/_reset";
@import"./layout/_header";
@import "../sass/utils/extends";
@import "../sass/pages/home.scss";




.book button{
    text-decoration: none;
    font-size: 15px;
    background-color: $main-color;
    color: $text-color;
    border: none;
    padding: 20px;
    width: 150px;
 }








>>>>>>> b0494878878383df6657bf9e7c3d698056d37c99

