@import"./base/_reset";
@import"./layout/_header";
@import "../sass/utils/extends";
@import "../sass/pages/home.scss";




.book button{
    text-decoration: none;
    font-size: 15px;
    background-color: $main-color;
    color: $text-color;
    border: none;
    padding: 20px;
    width: 150px;
 }









