<<<<<<< HEAD
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

.flex, .header__end__right, .header_input i, .header2 ul, .menu__end, .men__card, .men__card div, .women__card, .women__card div, .kid__card, .kid__card div, .clothings .clothing__left div h3, .clothings .clothing__left div a, .clothing__right .lists ul, .men__clothings .clothing__right div h3, .men__clothings .clothing__right div a, .men__clothings .clothing__left .lstis ul {
  display: flex;
  justify-content: center;
  align-items: center; }

.background, .men__card, .women__card, .kid__card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
=======
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header__start .lists ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white; }
>>>>>>> b0494878878383df6657bf9e7c3d698056d37c99

.header__start {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  background-color: black; }

.header__start .lists ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white; }

<<<<<<< HEAD
.section1__left {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 80px;
  margin: 50px; }

.icons {
  font-size: 16px;
  color: black;
  display: flex;
  gap: 20px; }

.header__end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px; }

.header__end__right {
  gap: 15px;
  font-size: 16px; }

.header__end p {
  gap: 20px;
  margin-left: 100px;
  margin-top: 20px; }

.header_input i {
  margin-left: 200px;
  background-color: #e7ab3c;
  width: 50px;
  height: 50px; }
=======
.header_left .user {
  color: #ff7c5b;
  padding: 15px;
  border-radius: 50%; }

.header__start .lists ul {
  text-decoration: none;
  list-style-type: none;
  gap: 25px; }

.header_left {
  font-size: 20px;
  gap: 15px;
  color: white; }

.flex, .header__start .lists ul, .header_left, .visit h1, .visit p, .visit .buttons, .Tour__Type, .destinations {
  display: flex;
  justify-content: center;
  align-items: center; }
>>>>>>> b0494878878383df6657bf9e7c3d698056d37c99

.section1 {
  background-image: url("https://arid-html.vercel.app/main-file/dist/assets/images/hero/h4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 190px; }

.visit h1 {
  font-size: 70px;
  color: white; }

.visit p {
  font-size: 30px;
  color: white;
  margin-top: 45px; }

.visit .buttons {
  padding-top: 70px;
  gap: 50px; }

.visit .buttons .button button {
  background-color: transparent;
  color: #ff7c5b;
  padding: 18px;
  width: 200px;
  border: 1px solid #ff7c5b;
  font-size: 18px;
  margin-bottom: 70px; }

.visit .buttons .button__end button {
  color: white;
  padding: 19px;
  background-color: #ff7c5b;
  border: none;
  width: 150px;
  margin-bottom: 70px; }

.section2 {
  padding: 30px; }

.Tour__Type p {
  color: #ff7c5b;
  font-size: 25px; }

.Tour__Type h2 {
  padding: 20px;
  font-size: 50px; }

.Tour__Type .cards {
  display: flex;
  gap: 28px; }
  .Tour__Type .cards .card img {
    width: 400px;
    height: 250px; }

.Tour__Type .cards .card i {
  color: #ff7c5b;
  gap: 16px; }

.Tour__Type .cards .card h3 {
  margin-bottom: 15px; }

.Tour__Type {
  flex-direction: column; }
  .Tour__Type button {
    margin-top: 30px;
    background-color: #ff7c5b;
    padding: 20px;
    width: 150px;
    color: white;
    border: none; }

.section2 {
  background-color: #FFF6E6; }

.destinations {
  flex-direction: column; }
  .destinations .card__map p {
    color: #ff7c5b; }

.destinations .map__cards {
  display: flex;
  gap: 30px; }
  .destinations .map__cards .card__map img {
    background-color: white;
    width: 200px;
    height: 200px; }

.destinations p {
  color: #ff7c5b;
  font-size: 24px;
  margin-top: 30px; }

.destinations h2 {
  font-size: 55px;
  margin-top: 30px; }

.destinations .view__btn button {
  background-color: #ff7c5b;
  padding: 20px;
  color: white;
  border: none;
<<<<<<< HEAD
  margin-top: 10px; }

.header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #252525; }

.header2 {
  margin-top: 30px; }

.header2 ul {
  display: flex; }

.header2 ul li a {
  color: white; }

.menu a {
  display: flex;
  color: white; }

.header2 ul li {
  padding: 20px;
  border: 1px solid gray;
  background-color: #252525; }

.menu {
  background-color: gray;
  padding: 20px;
  border: 1px solid gray;
  width: 47%;
  text-align: end;
  display: flex;
  justify-content: flex-end; }

.menu a {
  color: white; }

.menu__end {
  border-radius: 10px;
  background-color: black;
  width: 80px;
  height: 30px;
  padding: 20px; }

.header2 ul li:hover {
  background-color: #e7ab3c; }

.menu__end:hover {
  background-color: #e7ab3c; }

.header__start {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px; }

.gmail {
  border-right: 1px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

.section1 {
  display: flex;
  background-image: url("https://preview.colorlib.com/theme/fashi/img/hero-1.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.section1__left h3 {
  color: #e7ab3c;
  font-size: 20px; }

.section1__left h1 {
  font-size: 50px; }

.section1__left p {
  color: #4c4c4c; }

.section1__left button {
  background-color: #e7ab3c;
  border: 1px solid black;
  border: none;
  width: 100px;
  height: 40px;
  color: white; }

.section2 {
  padding-top: 48px; }

.section__cards {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.men__card {
  background-image: url("https://preview.colorlib.com/theme/fashi/img/banner-1.jpg");
  height: 187px;
  width: 334px; }

.men__card div {
  width: 120px;
  height: 50px;
  background-color: white;
  color: black;
  padding: 14px; }

.women__card {
  background-image: url("https://preview.colorlib.com/theme/fashi/img/banner-2.jpg");
  height: 187px;
  width: 334px; }

.women__card div {
  width: 120px;
  height: 50px;
  background-color: white;
  color: black;
  padding: 14px; }

.kid__card {
  background-image: url("https://preview.colorlib.com/theme/fashi/img/banner-3.jpg");
  height: 187px;
  width: 334px; }

.kid__card div {
  width: 120px;
  height: 50px;
  background-color: white;
  color: black;
  padding: 14px; }

.section3 {
  padding-top: 80px; }

.clothings {
  display: flex; }
  .clothings .clothing__left {
    background-image: url("https://preview.colorlib.com/theme/fashi/img/products/women-large.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 300px;
    height: 620px;
    padding: 30px; }

.clothings .clothing__left div h3 {
  color: white;
  padding: 180px;
  font-size: 45px; }

.clothings .clothing__left div a {
  color: black;
  padding-left: 30px; }

.clothing__right .lists ul {
  gap: 20px;
  font-size: 30px;
  color: #4c4c4c; }

.cards {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 100px; }

.cards .card span {
  font-size: 20px;
  color: #e7ab3c; }

.section4 {
  background-image: url("https://preview.colorlib.com/theme/fashi/img/time-bg.jpg.webp");
  height: 569px;
  margin-top: 80px; }

.hanbag .hanbag__left {
  padding: 150px 90px; }
  .hanbag .hanbag__left h2 {
    margin-left: 70px;
    font-size: 40px; }

.hanbag .hanbag__left p {
  margin-left: 40px;
  color: #4c4c4c;
  font-size: 16px; }

.hanbag .hanbag__left h3 {
  color: #e7ab3c;
  font-size: 30px;
  margin-left: 90px; }

.hanbag .time {
  display: flex;
  gap: 20px;
  padding: 15px; }
  .hanbag .time .days {
    font-size: 25px;
    color: #e7ab3c;
    background-color: white;
    width: 65px; }

.hanbag .hanbag__left button {
  background-color: #e7ab3c;
  color: white;
  font-weight: 700;
  font-size: 14px;
  padding: 14px;
  border: none;
  margin-left: 110px; }

.section5 {
  margin-top: 30px; }

.men__clothings {
  display: flex; }
  .men__clothings .clothing__right {
    background-image: url("https://preview.colorlib.com/theme/fashi/img/products/man-large.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 300px;
    height: 620px;
    padding: 30px; }

.men__clothings .clothing__right div h3 {
  color: white;
  padding: 180px;
  font-size: 45px; }

.men__clothings .clothing__right div a {
  color: black;
  padding-left: 30px; }

.men__clothings .clothing__left .lstis ul {
  gap: 20px;
  font-size: 30px;
  color: #4c4c4c; }

.clothing__cards {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 100px; }

.clothing__cards .clothing__card span {
  font-size: 20px;
  color: #e7ab3c; }

.section6 {
  margin-top: 50px; }

.instagram__photos {
  display: flex; }
  .instagram__photos .insta__photo img {
    width: 230px; }
=======
  width: 120px; }

.book button {
  text-decoration: none;
  font-size: 15px;
  background-color: #ff7c5b;
  color: white;
  border: none;
  padding: 20px;
  width: 150px; }
>>>>>>> b0494878878383df6657bf9e7c3d698056d37c99
